body {
  background-color: #F8EEBF;
}

h1 {
  text-align: center;
  color: black;
  font-weight: bolder;
  font-family: verdana;
}

h2 {
  text-align: center;
  color:black;
  font-weight: bolder;
}

h3.bold {
  text-align: center;
  color: black;
  font-weight: bolder;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
